body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 10px;
}

.ScrollerContainer {
  display: flex;
  flex-direction: row;
  height: 18vh;
  width: 100vh;
}

.list {
  flex: auto;
  overflow-y: scroll;
}

.btn {
  display: inline-block;
  border:  none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background:orange;
}

.header{
  padding: 10px
}
